/* NAVBAR */
.estilo-nav {
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  background: darkslateblue;
  align-items: center;
}

.menu-contenedor {
    list-style: none;
    display: flex;
    text-align: center;
    height: 30px;
    color: white;
}

.orden-menu {
  width: 180px;
  cursor: pointer;
  z-index: 20;
}

.estilo-categ {
  left: 49px;
  list-style: none;
  visibility: hidden;
  background: darkslateblue;
  text-align: left;
  position: relative;
  top: 7px;
  padding-left: 11px;
  width: 150px;
}

.padd {
  padding: 10px 5px ;
}

.padd:hover{
  color: #a4e3af;
}

/* componentes base como titulo y botones */
.botones {
  background-color: #55b766;
  color: aliceblue;
  border: 0px;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px 0px;
}

.botones:hover {
  color: #10262e;
  box-shadow: #55b766 0px 1px 7px 1px;
}

.titulos {
  color: #55b766;
}

.align-mid {
  text-align: center;
}

/* estilo links */

.mouse-arriba {
  text-shadow: 1px 1px #9c27b0ba;
}

a {
  color: white;
  text-decoration: none;
}

.color {
  color: #55b766;
}

.redes {
  padding-top: 5px;
  color: #10262e;
  text-decoration: none;
  text-align: center;
}

.redes:hover{
  color: #55b766;
}

.cursor {
  cursor: pointer;
}

.tam-icon {
  width: 100%;
}

.ajuste-ico {
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.visible {
  visibility: visible;
  opacity: 1;
}


/* FOOTER */
.estilo-footer {
  margin-top: 30px;
  padding-top: 10px;
  background-color: darkseagreen;
  position: relative;
  bottom: -100px;
  left: 0;
  width: 100vw;
  height: 100px;
}

.contenedor-redes {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.icon-redes {
  width: 40px;
  filter: contrast(40%) sepia(1) hue-rotate(900deg) saturate(250%);
}

.texto-footer {
  text-align: center;
  color: darkslateblue;
}

/* carrito */
.modal-carrito {
  display: flex;
  justify-content: center;
  height: 80vh;
  margin-top: 50px;
}

.estilo-modal {
  width: 100vw;
  margin: 0px 50px;
}

.titulo-modal {
  color: black;
  font-size: 30px;
  text-align: left;
}

.cont-prod-item {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 0.5fr;
  grid-template-rows: auto;
  grid-gap: 5px;
  margin-top: 15px;
}

.colum2 {
  text-align: center;
}

.final {
  border-top: 1px inset;
  padding: 10px 0px;
}

.min-tam {
  min-height: 20%;
}

.ajuste {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cant-en-carro {
  position: relative;
  bottom: 57px;
  color: white;
  left: 11px;
  font-size: 12px;
  text-align: center;
}

.no-prod-btn {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  color:cadetblue;
}

.no-prod-btn:hover {
  color:#55b766 ;
}

.no-prod {
 margin-top: 20px;
 color: gray;
}

.cant-eliminar {
  display: flex;
  align-items: center;
}

.boton-eliminar {
  border: 0px solid;
  background-color: transparent;
  color: gray;
  cursor: pointer;
}

.boton-eliminar:hover {
  color: red;
}

.cont-vaciar {
  display: flex;
  justify-content: flex-end;
}

.vaciar-carro {
  cursor: pointer;
  border: 0px;
  text-align: center;
  background-color: transparent;
  color: gray;
}

.vaciar-carro:hover {
  color: red;
}

.cerrar-carrito {
  left: 46%;
  position: relative;
  bottom: 30%;
  background-color: #d35858;
  border: 0px;
  padding: 5px;
  width: 30px;
  color: white;
  cursor: pointer;
}

.boton-contenedor {
  display: flex;
  justify-content: space-around;
}

.botones-tam {
  width: 200px;
}


/* estilo de las cards */
.estilo-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  justify-content: space-evenly;
  background-color: lightgray;
  margin: 20px;
  cursor: pointer;
  transition: all 2s;
}

.estilo-card:hover{
  transform: scale(1.05);
  transition: all 2s;
}

/* estilo sumar al carrito */
.cont-cantidad {
  display: flex;
  justify-content: center;
}

.cantidad {
  width: 50px;
  text-align: center;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  background-color: white;
}

.sumar, .restar {
  width: 24px;
  cursor: pointer;
}


/* Estilo de las cards */

.nombre-prod {
  font-size: 12px;
  text-align: center;
}

.ajuste.img {
  margin: 10px;
}

.tam-prod {
  width: 100%;
}

.precio-prod {
  font-size: 20px;
  margin: 10px 0px;
}

/* posicion cards*/

.contenedor-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* estilo toasty*/
@import "toastify-js/src/toastify.css";

/* detalles de cada producto */
.contenedor-detalles {
  display: grid;
  margin: 20px;
  grid-template-columns: 1.9fr 1.5fr;
}

.prod-modal {
  text-align: right;
  margin: 10px 50px;
  color: #2c2c2c;
}

.imag-modal {
  margin: 0px 80px;
}

.cont-precio {
  height: 80%;
  width: 80%;
  grid-row-end: 3;
  grid-row-start: 1;
  display: flex;
  justify-content: center;
  align-items: baseline;
  justify-self: center;
}

.estilo-precio {
  color: gray;
}

.precio-modal {
  font-size: 30px;
  margin: 0px;
  text-align: center;
  color: #55b766;
  font-weight: 600;
}

.cont-count {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-template-rows: 0.5fr 0.5fr 1fr 1fr;
  grid-column-gap: 10px;
}

/* .grid-count {
} */

.grid-detalle {
  display: grid;
  grid-template-rows: 0.4fr 1fr 1fr;

}

.posicion-boton {
  grid-column-start: 3;
}
.desc-modal {
  margin: 15px 20px 15px 0px;
}

.cerrar-prod {
  top: 4px;
  position: absolute;
  right: 4px;
  background-color: #d35858;
  border: 0px;
  padding: 5px;
  width: 30px;
  color: white;
  cursor: pointer;
}

.modal-prod {
  height: 80vh;
}

/* pagina de cargando */
.cargando-pag {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 20%;
  left: 25%;
}

.estilo-cargando {
  color: #10262e;
  font-size: 20px;
  text-align: center;
}

/* boton para ver todos los productos */
.boton-ver-prod {
  padding: 10px;
  background-color: #55b766;
  border: 0px solid;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}

.cont-boton-prod {
  display: flex;
  justify-content: center;
  height: 80vh;
  align-items: center;
}

/* grid */
.contenedor {
  display: grid;
  grid-template-columns: 20% 20% 20%;
}

.box {
  background-color: #10262e;
  color: aliceblue;
  text-align: center;
  padding: 10px;
}

/* formulario introduzca sus datos  de seccion finalizar compra */
.secccion-fin-compra {
  margin: 0px 80px;
}

.contenedor-form {
  display: flex;
  justify-content: center;
  margin: 50px 0px;
}

.formulario {
  grid-template-columns: 0.4fr 1fr 0.2fr 0.4fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 90%;
  display: grid;
  grid-gap: 5px;
  align-items: start;
}

.form-position {
  grid-column: 4;
}

.fin-position {
  grid-column: 5;
  grid-row: 4;
}

.marg-position {
  margin-left: 20px;
}

.resumen-compra {
  grid-template-rows: 1fr;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


.total-carro {
  font-size: 20px;
  margin-top: 8px;
  color: #285c48;
  text-align: right;
}

/* estilo de confirmar */
.estilo {
  top: 25%;
  left: 25%;
  width: 60%;
  height: 50%;
  background-color: white;
  position: absolute;
  text-align: -webkit-center;
}

/* columnas de confirmar datos */
.modal-confirm {
  background-color: #000000c7;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 20;
}
.confirm-colum {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 95%;
  text-align: left;
}

.tipo-dato {
  color: gray;
}

.dato {
  color: black;
}

/* modal no hay productos */
.modal-no-hay {
  background-color: #000000c7;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}

.estilo-no-hay {
  top: 25%;
  left: 20%;
  width: 60%;
  height: 30%;
  background-color: white;
  position: absolute;
  text-align: -webkit-center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* estilo home */

.grid-home {
  grid-row-gap: 15px;
  grid-template-rows: 0.5fr 0.5fr 0.2fr 0.5fr 0.5fr;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.caja-mes {
  background-image: url("https://i.ibb.co/jRJLfdb/principal.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  grid-column-end: 4;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 3;
}

.posicion-boton-caja {
  grid-column: 3;
  grid-row: 2;
  display: flex;
  align-items: center;
  width: max-content;
}

.img-categorias {
  justify-self: center;
  cursor: pointer;
}
.tam-img-categ {
  width: 300px;
  height: 300px;
}

.posicion-img-categ {
  grid-column: 1;
}

.titulo-categ {
  justify-self: center;
  font-size: 30px;
  color: #55b766;
}

/* tarjeta de redes  */

.tarjetas {
  background: whitesmoke;
  box-shadow: 0px 2px 5px 0px darkgrey;
  width: 90%;
  transition: all 2s;
}

.tarjetas:hover {
  transform: scale(1.05);
  transition: all 2s;
}

.tam-img {
  width: 40px;
}

/* categorias pagina estilo */
.volver-prod {
  width: 200px;
  margin: 20px;
  color: #10262e;
}
.volver-prod:hover {
  color: #55b766;
  text-decoration: underline;
}

/* seccion de preguntas frecuentes */
.seccion-preg-frec {
  margin: 10px 200px;
}

.preg-list {
  color: #10262e;
}
.preg-list:hover{
  color: #55b766;
  text-decoration: underline;
}

/* seccion de preguntar */
.seccion-preg {
  margin: 10px 200px;
}

.estilo-textarea {
  max-width: 276px;
  max-height: 300px;
  min-width: 276px;
  min-height: 57px;
}

.posicion-cards-redes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 40px;
}

/* seccion compra realizada */
.seccion-compra-completa {
  margin: 0px 80px;
}
