.estilo-nav {
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  /*position: fixed;*/
  width: 100%;
  background: darkslateblue;
}

.menu-contenedor {
    list-style: none;
    display: flex;
    text-align: center;
    height: 30px;
    color: white;
}

.orden-menu {
  width: 180px;
  cursor: pointer;
}

.estilo-categ {
  left: 36px;
  list-style: none;
  visibility: hidden;
  background: darkslateblue;
  text-align: left;
  position: relative;
  top: 7px;
  padding-left: 20px;
  width: 150px;
}

.padd {
  padding: 5px 0px;
}



.mouse-arriba {
  text-shadow: 1px 1px #9c27b0ba;
}

a {
  color: white;
  text-decoration: none;
}

.tam-icon {
  width: 30px;
  cursor: pointer;
}

.ajuste-icon {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

/* modal carrito */
.modal-carrito {
  background-color: #00000078;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.estilo-modal {
  width: 50%;
  height: 50%;
  background-color: white;
  text-align: center;
}

.titulo-modal {
  color: black;
  font-size: 30px;
}

.cerrar-carrito {
  left: 46%;
  position: relative;
  bottom: 30%;
  background-color: #d35858;
  border: 0px;
  padding: 5px;
  width: 30px;
  color: white;
  cursor: pointer;
}

/* estilo de las cards */
.estilo-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  justify-content: space-between;
  background-color: lightgray;
  margin: 20px;
}

/* estilo sumar al carrito */
.cont-cantidad {
  display: flex;
  justify-content: center;
}

.cantidad {
  width: 50px;
  text-align: center;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  background-color: white;
}

.sumar, .restar {
  width: 24px;
  cursor: pointer;
}

.agregar {
  background-color: #55b766;
  border: 0px;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
  color: #10262e;
  margin: 10px 0px;
}

/* Estilo de las cards */

.nombre-prod {
  font-size: 12px;
  text-align: center;
}

.ajuste.img {
  margin: 10px;
}

.tam-prod {
  width: 100%;
  cursor: pointer;
}

.precio-prod {
  font-size: 20px;
  margin: 0px;
}

/* posicion cards*/

.contenedor-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* estilo toasty*/
@import "toastify-js/src/toastify.css";

/* modal de los detalles de cada producto */
.contenedor-detalles {
  height: 598px;
  background: white;
  width: 500px;
  position: fixed;
  top: 2%;
  left: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.prod-modal {
  text-align: center;
  margin: 10px;
}

.imag-modal {
  margin: 0px 80px;
}

.precio-modal {
  right: 50px;
  position: absolute;
  background-color: #55b766;
  width: 100px;
  text-align: center;
  height: 30px;
  font-size: 20px;
  margin: 0px;
  bottom: 190px;
}

.desc-modal {
  text-align: center;
  margin: 15px 20px;
}

.ajustar-add {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cerrar-prod {
  top: 4px;
  position: absolute;
  right: 4px;
  background-color: #d35858;
  border: 0px;
  padding: 5px;
  width: 30px;
  color: white;
  cursor: pointer;
}

.modal-prod {
  background-color: #00000078;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
}

.visible {
  visibility: visible;
  opacity: 1;
}

/* pagina de cargando */
.cargando-pag {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 20%;
  left: 25%;
}

.estilo-cargando {
  color: #10262e;
  font-size: 20px;
  text-align: center;
}